@import "../Theme.scss";

.left {
  display: flex;
  flex: 0.2;
}

.leftsidebar {
  display: flex;
  flex-direction: column;
  background-color: $blue_background;
  color: white;
  width: 100%;
  height: 100%;

  .logo {
    width: 200px;
    height: 50px;
    margin: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;

    a {
      width: 100%;
    }

    button {
      width: 100%;
    }

    @media (max-width:1279px) {
      :last-child {
        margin-top: auto;
      }
    }

    .linkButton {
      display: flex;
      color: white;
      margin-bottom: 10px;
      justify-content: flex-start;
      .text {
        padding-left: 10px;
      }
    }
  }
}
//popover on smallscren always on top
#popover-menu{
  z-index: 9999;
}